.header_row.wrap
  button(type="button").drawer-toggle.drawer-hamburger
    span.sr-only toggle navigation
    span.drawer-hamburger-icon
  nav.drawer-nav.aigis-categoryList
    h2 _scss
    != helper.renderCollectionTree('category')


//-   h2.aigis-sidemenu__heading Tag
//-   nav.aigis-tags.aigis-tagList
//-     each tag in config.collection.tag
//-       a.aigis-tags__item(class="aigis-tags__item--" + tag, //- href=root + 'tag/' + tag + '/index.html') #{tag}
//-   h2.aigis-sidemenu__heading
//-     a(href=root + 'color.html') All Colors
